{% extends "account/authentication/auth_base.html" %}
{% load material_form %}
{% block title %} AK | Set Password {% endblock %}

{% block auth_content %}

{% if not validlink %}
<div class="cb-error">
    The password reset link was invalid, possibly because it has already been used.  Please request a new password reset
</div>
<a class="waves-effect waves-light btn" href="{% url 'forgot_password'%}">Reset Again</a>
{% else  %}
{% if not form.errors %}
<div class="cb-info">
    Please enter your new password twice so we can verify you typed it in correctly.
</div>
{% endif %}
<form method="post" action="">
    {% csrf_token %}
    {% form form=form %}{% endform %}
    <button class="btn waves-effect waves-light" type="submit" name="changepassword">Change Password</button>
</form>
{% endif %}

{% endblock %}
