{% extends "account/authentication/auth_base.html" %}
{% load material_form %}
{% block title %} AK | Forgot Password {% endblock %}

{% block auth_content %}

<form method="post" action="{% url 'forgot_password' %}">
    {% if not form.errors %}
    <div class="cb-info">
        Enter your email address below, and we'll email instructions for setting a new one.
    </div>
    {% endif %}
    {% csrf_token %}
    {% form form=form %}{% endform %}
    <div class="row">
        <div class="col s12"> 
            <button class="btn waves-effect waves-light left" type="submit" name="resetpassword">Reset Password</button>
            <a class="cb-form right" href="{% url 'login' %}">Go Back</a>
        </div>
    </div>
</form>

{% endblock %}
