<html lang="en">
    {% load staticfiles %}
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name = "viewport" content = "width=device-width, initial-scale = 1">
        <title> {% block title %} Auction King {% endblock %} </title>
        {% include 'material/includes/material_css.html' %}
        <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'base/css/base.css' %}">
	<script src="{% static 'base/js/AjaxFormHelper.js' %}"></script>
        {% block extrahead %}{% endblock %}
    </head>
	<body>
     	<header>
            {% block navbar %}
            <div class="navbar-fixed">
                <nav class="head">
                    <div class="container nav-wrapper">
                        <a href="#" class="brand-logo">AUCTION KINGS
                        </a>
                        {% if user.is_authenticated %}
                        {% include "account/nav/nav.html" %}
			{% else %}
			{% include "account/nav/nav1.html" %}
			{% endif %}
                    </div>
                </nav>
            </div>
            {% endblock %}
        </header>
<div id="imggg"><img src="{% static 'base/images/auction.png' %}" width="210px" height="100px"></div>
	<main>
            <div class="container">

                            
                {% block content %}
                {% endblock %}
            </div>
        </main>
<div class="redfooter">
 <footer class="pagefooter">
            <div class="footer-copyright">
                <div class="container">
                    <span>
                        &copy; {% now 'Y' %} Auction King
                    </span>
                    <span class="cb-footer-icons"> 
                        <a class="grey-text text-lighten-4" href="mailto:gargrishab18@yahoo.in"><i class="fa fa-envelope-square"></i></a>
                        <a class="grey-text text-lighten-4" href="https://plus.google.com/+auctionking"><i class="fa fa-google-plus-square"></i></a>
                        <a class="grey-text text-lighten-4" href="http://www.facebook.com/auctionsking"><i class="fa fa-facebook-square"></i></a>
                    </span>
                </div>
            </div>
        </footer>
</div>
{% include 'material/includes/material_js.html' %}
	<script>
	$(document).ready(function() {
		$('.modal-trigger').leanModal();
	});
	</script>
	{% block scripts %}
	{% endblock %}
   </body>
</html>
