form > p {
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 30px;
    margin-bottom: 20px;
    vertical-align: middle; 
}

form > p > * {
    flex : 1;
}

span.helptext {
    position: absolute;
    left: 50%;
    top: 30px;
    font-size: 12px;
    color: grey;
}

.isa_info, .isa_success, .isa_warning, .isa_error, .errorlist {
margin: 10px 0px;
padding:12px;
}
.isa_info {
    color: #00529B;
    background-color: #BDE5F8;
}
.isa_success {
    color: #4F8A10;
    background-color: #DFF2BF;
}
.isa_warning {
    color: #9F6000;
    background-color: #FEEFB3;
}
.isa_error, .errorlist {
    color: #D8000C;
    background-color: #FFBABA;
}

.isa_info i, .isa_success i, .isa_warning i, .isa_error i , .errorlist i {
    margin:10px 22px;
    font-size:2em;
    vertical-align:middle;
}

